/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
	--background: #000000;
	--text-color: #ffffff;
	--hover-btn: rgb(157, 51, 243);
	--gradient-color: radial-gradient(
		circle at 10% 20%,
		rgb(153, 103, 186) 41.2%,
		rgb(0, 113, 227) 90%
	);
}
