/// Main Styles File
/// Here we import all the global Styles files we need for our project.

@use "styles/normalize.scss";
@use "styles/root.scss";
@use "styles/fonts.scss";

body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Work Sans", sans-serif;
	color: var(--text-color);
	background-color: var(--background);
}
