.composition {
	padding-bottom: 15rem;
	padding-left: 30px;
	padding-right: 30px;
	& &__title {
		font-size: 24px;
		text-transform: uppercase;
		border: 1px solid var(--text-color);
		width: 233px;
		height: 51px;
		text-align: center;
		line-height: 51px;
		border-radius: 20px;
		margin-bottom: 33px;
	}
	& &__content {
		display: flex;
		flex-wrap: no-wrap;
		padding: 0 30px;
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		&-cube {
			flex-grow: 1;
		}
		&-materials {
			flex-grow: 1;
		}
		&-effects {
			flex-grow: 1;
		}
		&-desc {
			flex-grow: 1;
			flex-basis: 10%;
			font-size: 20px;
			letter-spacing: -0.6px;
			text-transform: uppercase;
			&-cube {
				opacity: 0;
				&.is-reveal {
					opacity: 1;
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		& &__title {
			font-size: 8rem;
			width: fit-content;
			height: fit-content;
			padding: 8rem 8rem;
			margin-top: 3rem;
			line-height: 0;
			border-radius: 10px;
		}
		& &__content {
			flex-wrap: wrap;
			text-align: center;
			&-desc {
				flex-basis: 100%;
				text-align: center;
				margin-top: 20rem;
				margin-bottom: 20rem;
			}
		}
	}
}
