.header {
	position: relative;
	width: 100%;
	overflow: hidden;
	& &__logo {
		position: absolute;
		left: 40px;
		top: 20px;
		&-cube {
			position: absolute;
			top: 23%;
			width: 5rem;
			height: 5rem;
			border: 2px solid var(--text-color);
			transform: rotate(45deg);
		}
		&-text {
			font-size: 3rem;
		}
	}
	& &__nav {
		position: absolute;
		right: 0;
		display: flex;
		justify-content: flex-end;
		gap: 20rem;
		width: auto;
		font-size: 2.4rem;
		text-transform: uppercase;
		border-top: 36px solid var(--text-color);
		padding-right: 30px;
		& .nav-btn {
			margin-top: 15px;
		}
	}
	& &__content {
		width: 100%;
		padding-top: 30px;
		padding-left: 48px;
		display: flex;
		&-title {
			width: 55%;
			display: flex;
			flex-direction: column;
			&-btn {
				position: relative;
				display: flex;
				align-items: center;
				align-self: self-start;
				font-size: 3rem;
				background: var(--text-color);
				border-radius: 10px;
				padding-left: 3rem;
				padding-right: 1.5rem;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				margin-top: 20px;
				border: none;
				cursor: pointer;
				z-index: 1;
				& img {
					display: block;
					width: 5rem;
					height: 5rem;
				}
			}
			&-subtitle {
				margin-top: 280px;
				margin-bottom: 10px;
				font-size: 2rem;
				text-transform: uppercase;
			}
			&-main {
				width: 100%;
				font-weight: 500;
				text-transform: uppercase;
				font-size: 10rem;
			}
			&-assets {
				padding-top: 60px;
				display: flex;
				justify-content: space-between;
				&-icons {
					display: inline-flex;
					align-items: flex-end;
					gap: 39px;
				}
				&-collection {
					position: relative;
					display: flex;
					gap: 20px;
					z-index: 1;
					&-first,
					&-second {
						width: 100%;
						height: 100%;
						max-width: 135px;
						max-height: 170px;
						overflow: hidden;
						border-radius: 20px;
						border: 1px solid var(--text-color);
						cursor: pointer;
						& img {
							width: 100px;
						}
					}
				}
			}
		}
		&-cube {
			width: 45%;
			position: relative;
			&-model {
				width: 100%;
				height: 100%;
				position: relative;
				& canvas {
					position: absolute;
					width: 192rem !important;
					height: 108rem !important;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					z-index: -1;
				}
			}
		}
	}
	@media screen and (max-width: 1024px) {
		& &__logo {
			&-cube {
				width: 8rem;
				height: 8rem;
			}
			&-text {
				font-size: 4.6rem;
			}
		}
		& &__nav {
			font-size: 2.8rem;
		}
		& &__content {
			&-title {
				&-btn {
					padding-left: 4rem;
					padding-right: 2rem;
					padding-top: 1rem;
					padding-bottom: 1rem;
					& img {
						width: 6rem;
						height: 6rem;
					}
				}
				&-subtitle {
					font-size: 3rem;
				}
				&-main {
					font-size: 12rem;
					width: 120%;
				}
			}
		}
	}
	@media screen and (max-width: 768px) {
		height: 100vh;
		& &__logo {
			&-cube {
				width: 12rem;
				height: 12rem;
				border: 1px solid var(--text-color);
			}
			&-text {
				font-size: 7.6rem;
			}
		}
		& &__nav {
			font-size: 7rem;
			border-top: none;
			flex-direction: column;
			gap: 3rem;
			text-align: right;
			margin-top: 15rem;
			background-color: var(--background);
			&-mobile {
				position: relative;
				width: 20rem;
				height: 2px;
				background: var(--text-color);
				border-radius: 10px;
				align-self: flex-end;
				margin-bottom: 20rem;
				&::before {
					position: absolute;
					left: 0;
					top: 10px;
					content: "";
					width: 20rem;
					height: 2px;
					background: var(--text-color);
					border-radius: 10px;
				}
				&::after {
					position: absolute;
					left: 0;
					top: 20px;
					content: "";
					width: 20rem;
					height: 2px;
					background: var(--text-color);
					border-radius: 10px;
				}
			}
		}
		& &__content {
			flex-direction: column;
			padding-left: 0;

			&-title {
				text-align: center;
				width: 100%;
				&-btn {
					font-size: 7rem;
					align-self: center;
					padding-left: 8rem;
					padding-right: 4rem;
					padding-top: 2rem;
					padding-bottom: 2rem;

					& img {
						width: 10rem;
						height: 10rem;
					}
				}
				&-subtitle {
					margin-top: 20vh;
					font-size: 5rem;
				}
				&-main {
					width: 100%;
					font-size: 20rem;
					padding: 0 30px;
				}
				&-assets {
					justify-content: center;
					padding-top: 20rem;
					&-icons {
						& img {
							width: 10rem;
							height: 10rem;
						}
					}
				}
			}
			&-cube {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				z-index: -1;
				&-model {
					& canvas {
						transform: translate(-50%, -70%);
						width: 336rem !important;
						height: 189rem !important;
					}
				}
			}
		}
	}
}
