.outcomes {
	padding: 0 30px;
	background: var(--text-color);
	color: var(--background);
	& &__title {
		font-size: 10rem;
		letter-spacing: -3px;
		text-transform: uppercase;
		margin-bottom: 38px;
		padding-top: 38px;
	}
	& &__content {
		display: flex;
		justify-content: space-between;
		padding: 0 3rem;
		padding-bottom: 10rem;
		&-stat {
			display: flex;
			gap: 19px;
			&-above {
				font-size: 12px;
				text-transform: uppercase;
				margin: 0;
				padding: 0;
			}
			&-num {
				display: flex;
				flex-direction: column;
				&-text {
					font-size: 18rem;
					font-weight: 500;
					letter-spacing: -5px;
					margin: 0;
					padding: 0;
					margin-top: -4.5rem;
				}
				&-desc {
					font-size: 18px;
					font-weight: 300;
					text-transform: uppercase;
					margin: 0;
					padding: 0;
					display: block;
				}
			}
		}
	}
	@media screen and (max-width: 1024px) {
		& &__title {
			font-size: 12rem;
		}
		& &__content {
			&-stat {
				&-num {
					&-text {
						font-size: 24rem;
					}
				}
			}
		}
	}
	@media screen and (max-width: 768px) {
		& &__content {
			flex-direction: column;
			gap: 10rem;
			&-stat {
				&-num {
					width: 100%;
					&-text {
						font-size: 32rem;
					}
					&-desc {
						text-align: right;
						font-size: 6rem;
					}
				}
			}
		}
	}
}
